youtube_search
requests
youtube_dl
youtube_search_python
aiohttp
Pyrogram
Tgcrypto
asyncio

#video dl
aiofiles
yt_dlp
wget

#vidtags
YoutubeTags

#dev
heroku3
psutil
pygithub
motor
dnspython
pymongo

#arq
python-arq

